* { 
    /* outline:1px rebeccapurple dotted; */
    margin: 1rem;
  } 

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 70vw;
}

button {
    height: 100px;
    width: 200px;
    font-size: 24px;
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}

button:hover {
    background-color: slategrey;
    transform: scale(1.1);
}

button:active {
    background-color: grey;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

#button-box {
    display: flex;
    gap: 2em;
}

#button-header {
    font-size: 60px;
}

#game-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin-top: 1em;
    /* outline: 1px dotted lime; */
}
#choices, #scoreboard {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 24px;
    /* outline: 1px dotted greenyellow; */
    width: 50%;
}

#choices div, #scoreboard div  {
    /* outline: 1px dotted blue; */
    margin-right: 20%;
}